/* =======================================================================
   Essentials & Layout
   ======================================================================= */

html {
  font: 400 110%/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f5f5f5;
  color: #3c3c3c;
}

header {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 1.5rem 0;
}

@media screen and (max-width: 400px) {
  header { padding: 1rem 0 .3rem 0; }
}

.container {
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

footer { margin-top: 6rem; }

.footer {
  background-image: url(../img/github.png);
  display: block;
  height: 33px;
  margin: 3em auto;
  width: 33px;
}

/* =======================================================================
   Typography
   ======================================================================= */

h1, h2, h3, h4 {
  color: #555;
  display: block;
  margin: 0;
  padding: 0;
}

h1 { font-size: 1.6rem; }

h2 { font-size: 1.4rem; }

h3 { font-size: 1.1rem; }

h4 {
  font-size: .8rem;
  line-height: 1rem;
  margin: 0;
  text-transform: uppercase;
}

p {
  display: block;
  margin-bottom: 1.5em;
}

strong { font-weight: 600; }

.large-heading {
  font-size: 2.4em;
  margin: 1.4em 0 1em 0;
}

.center-heading {
  margin: 2em 0;
  text-align: center;
}

article { margin: 4em 0; }

article ul { margin-bottom: 2em; }

article li { margin: .2em 0; }

section { padding-bottom: .5em; }

/* =======================================================================
   Quotes
   ======================================================================= */

q { font-style: italic; }

q:before {
  content: "\201C";
  font-family: "Georgia", serif;
}

q:after {
  content: "\201D";
  font-family: "Georgia", serif;
}

blockquote {
  background: #faf5e4;
  box-shadow: 1px 1px 3px #ddd;
  margin: 2em auto;
  padding: 2em 1.2em;
  width: 85%;
}

blockquote cite {
  display: block;
  text-align: right;
}

cite:before { content: "— " ; }

/* =======================================================================
   Hyperlinks
   ======================================================================= */

a {
  color: #4a9fd9;
  text-decoration: none;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

a:hover { text-decoration: underline; }

/* =======================================================================
   Logo & Navigation
   ======================================================================= */

.logo {
  background-image: url('../../img/logo.png');
  display: block;
  float: left;
  height: 22px;
  width: 32px;
}

@media screen and (max-width: 400px) {
  .logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

nav { 
  float: right;
  font-size: .9rem; 
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: .9rem;
}

nav li:last-child { margin-right: 0; }

nav a {
  color: #999;
  text-decoration: none;
}

nav a:hover {
  color: #bebebe;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  nav {
    display: block;
    float: none;
    padding-top: .6rem;
  }
}

@media screen and (max-width: 400px) {
  nav li {    
    border-top: 1px solid #efefef;
    display: block;
    float: none;
    margin: 0;
    padding: .5rem 0;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  nav li:first-child { border-top: 1px solid #efefef; }
}

/* =======================================================================
   Boxes
   ======================================================================= */

.box {
  background: #fff;
  margin: 2rem auto;
  padding: 1.4rem;
}

.box p, .box h1, .box h2, .box h3 { margin-top: 0; }

.example { padding: 1.4rem; }

.example p, .example ul { margin: 0; }

.box .container { width: 100%; }

.example:before {
  color: #bebebe;
  content: "Example";
  display: block;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .7rem;
  text-align: left;
  text-transform: uppercase;
}

/* =======================================================================
   Dividers
   ======================================================================= */

.section-divider {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 2em;
  width: 100%;
}

/* =======================================================================
   Posts
   ======================================================================= */

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts:first-child { margin-top: 3rem; }

.posts li {
  border-bottom: 1px dotted #eee;
  padding: 1.4rem 0;
}

article h2, article h3 { margin-top: 2em; }

.posts h2 a:hover {
  color: #66aedf;
  text-decoration: none;
}

.date {
  color: #999;
  display: inline-block;
  font-size: .9rem;
}

.posts p { margin: .1rem 0; }

.posts-nav {
  font-size: .9rem;
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.previous, .next {
  display: inline-block;
  font-size: .9rem;
}

.next { float: right; }

.posts-nav a {
  color: #999;
  padding: .4rem .6rem;
}

.posts-nav a:hover {
  color: #bebebe;
  text-decoration: none;
}

/* =======================================================================
   Style Guide
   ======================================================================= */

.profile-box { width: 100%; }

.profile {
  background-image: url(../img/profile.jpg);
  background-position: 50% 20%;
  background-size: cover;
  height: 300px;
  margin-bottom: 2em;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .profile {
    background-size: cover;
    border-radius: 100%;
    height: 202px;
    margin: 3rem auto 2rem auto;
    width: 202px;
  }
}

.profile-title {
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: 0;
  text-align: center;
}

.construction {
  background: #fff4cd;
  border-radius: 2px;
  color: #555;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: .2em .5em;
  position: static;
  text-transform: uppercase;
}

/* =======================================================================
   Blog #1 Examples
   ======================================================================= */

.example-element {
  border-radius: 3px;
  font-size: .9em;
  font-weight: 600;
  margin: .3em 0;
  padding: .6em 0;
  text-align: center;
}

.inline {
  background: #f1d399;
  color: #fff;
  display: inline;
  padding: .3em;
}

.inline-block {
  background: #5dd2e9;
  color: #fff;
  display: inline-block;
  width: 25%;
}

.large {
  background: #1ba9c5;
  color: #fff;
  padding: 2em 0;
}

.block {
  background: #8aefcd;
  color: #fff;
  display: block;
}

/* =======================================================================
   Blog #2 Examples
   ======================================================================= */

.float-example {
  border: 1px dashed #bbb;
  border-radius: 3px;
  color: #bbb;
  font-weight: 600;
  padding: .7em .3em;
  text-align: center;
}

.example-content {
  background: #5dd2e9;
  border: none;
  color: #fff;
  margin: .8em 0em;
  padding: 1em 0;
  min-width: 70%;
}

.float-side {
  background: #8aefcd;
  border: none;
  color: #fff;
  margin: .8em 0;
  padding: 1em 0;
  min-width: 27%;
}

/* =======================================================================
   Utilities
   ======================================================================= */

.margin-bottom { margin-bottom: .5em; }
.margin-bottom-large { margin-bottom: 4em;}
.margin-top { margin-top: .5em; }
.margin-top-large { margin-top: 3em; }
.margin { margin: 2em; }
.padding { padding: .5em; }

.remove-margin { margin: 0; }
.remove-margin-bottom { margin-bottom: 0; }
.remove-margin-left { margin-left: 0; }
.remove-margin-right { margin-right: 0; }
.remove-margin-top { margin-top: 0; }

.remove-padding { padding: 0; }
.remove-padding-top { padding-top: 0; }

.float-left { float: left; }
.float-right { float: right; }
.float-center { float: center; }

.hide { display: none; }
.show { display: block; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.normal-weight { font-weight: 400; }
.italic { font-style: italic; }

.valign-bottom { vertical-align: bottom; }
.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }

.block { display: block; }
.right { text-align: right; }

/* =======================================================================
   Code
   ======================================================================= */

code {
  background: #ececec;
  border-radius: 3px;
  color: #777;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8em;
  padding: .2em .4em;
  white-space: nowrap;
}

/* =======================================================================
   Gists
   ======================================================================= */

.gist-file {
  border: 0 !important;
  box-shadow: 0 !important;
}

.gist-data { border: 0 !important; }

.file-data {
  padding: 1.4rem !important;
  border-bottom: 0 !important;
  box-shadow: 0 !important;
}

.line-data { font-size: .9rem; }
.line-numbers { display: none !important; }
.gist-meta { display: none !important; }

/* =======================================================================
   Clearfix
   ======================================================================= */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
