/* =======================================================================
   Essentials & Layout
   ======================================================================= */

html {
  font: 400 120%/1.5 "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 500px) {
  html { font-size: 105%; }
}

body {
  background: #fff;
  color: #333;
}

header { padding: 3rem 0; }

.container {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}

footer { margin-top: 5rem; }

.footer {
  background-image: url(../img/github.png);
  display: block;
  height: 33px;
  margin: 3em auto;
  width: 33px;
}

/* =======================================================================
   Typography
   ======================================================================= */

h1, h2, h3, h4 {
  color: #333;
  display: block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 { font-size: 1.5rem; 
}

h2 { font-size: 1.3rem; }

h3 { 
  font-size: 1.1rem;
  text-transform: none;
}

h4 {
  font-size: .8rem;
  line-height: 1rem;
  margin: 0;
}

p {
  display: block;
  margin-bottom: 1.5em;
}

strong { font-weight: 700; }

article { margin: 0 0 4rem 0; }

article ul { margin-bottom: 2rem; }

article li { margin: .2rem 0; }

section { padding-bottom: .5rem; }

/* =======================================================================
   Quotes
   ======================================================================= */

q { font-style: italic; }

q:before {
  content: "\201C";
  font-family: "Georgia", serif;
}

q:after {
  content: "\201D";
  font-family: "Georgia", serif;
}

blockquote {
  background: #faf5e4;
  box-shadow: 1px 1px 3px #ddd;
  font-style: italic;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  width: 80%;
}

blockquote cite {
  display: block;
  font-style: italic;
  margin-top: 1rem;
  text-align: right;
}

cite:before { content: "— " ; }

/* =======================================================================
   Hyperlinks
   ======================================================================= */

a {
  color: #4c95c7;
  text-decoration: none;
}

a:hover {
  color: #4c95c7;
  text-decoration: underline; 
}

/* =======================================================================
   Logo & Navigation
   ======================================================================= */

.logo {
  background-image: url('../../img/logo.png');
  display: block;
  float: left;
  height: 22px;
  width: 32px;
}

nav { 
  float: right;
  font-size: .9rem;
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li { 
  display: inline-block;
  margin-right: 1rem;
}

nav li:last-child { margin-right: 0; }

nav a {
  color: #999;
  text-decoration: none;
}

nav a:hover {
  color: #777;
  text-decoration: none;
}

/* =======================================================================
   Boxes
   ======================================================================= */

.box {
  margin: 2rem auto;
  padding: 1.4rem;
}

.box p, .box h1, .box h2, .box h3 { margin-top: 0; }

.example {
  background: #f3f3f3;
  border-radius: 3px;
  padding: 1.4rem;
}

.example p, .example ul { margin: 0; }

.box .container { width: 100%; }

.example:before {
  color: #999;
  content: "Example";
  display: block;
  font-family: "Open Sans", serif;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: .8rem;
  text-align: left;
  text-transform: uppercase;
}

/* =======================================================================
   Dividers
   ======================================================================= */

.section-divider {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 2em;
  width: 100%;
}

/* =======================================================================
   Posts
   ======================================================================= */

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts li { margin: 2rem 0; }

.posts li:first-child { margin-top: 0;}

article h2, article h3 { margin-top: 2rem; }

.date { color: #999; }

.posts p { margin: .1rem 0; }

.post-title a {
  color: #333;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.post-title a:hover { 
  color: #555;
  text-decoration: none; 
}

.posts-nav {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.posts-nav a {
  color: #999;
  display: inline-block;
  text-decoration: none;
}

.previous, .next { display: inline-block; }

.next { float: right; }

.posts-nav a:hover { color: #777; }

.page-title { font-size: 1.6rem; }

.page-box { margin-bottom: 1rem; }

/* =======================================================================
   Style Guide
   ======================================================================= */

.profile {
  background-image: url(../img/profile.jpg);
  background-position: 50% 20%;
  background-size: cover;
  height: 300px;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .profile {
    border-radius: 50%;
    height: 240px;
    margin: 1rem auto 0 auto;
    width: 240px;
  }
}

.intro {  padding: .5rem 0; }

@media screen and (min-width: 800px) {
  .intro {
  padding: 1.5rem;
  margin: 1rem auto;
  }
}

.profile-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.intro p { margin-bottom: 0; }

.intro p:first-child { margin-top: 0; }


/* =======================================================================
   Blog #1 Examples
   ======================================================================= */

.example-element {
  border-radius: 3px;
  font-size:  .9rem;
  font-weight: 600;
  margin: .2rem 0;
  padding: .8rem 0;
  text-align: center;
}

.inline {
  background: #ff6666;
  color: #fff;
  display: inline;
  padding: .4em;
}

.inline-block {
  background: #66b3ff;
  color: #fff;
  display: inline-block;
  width: 25%;
}

.large {
  background: #999;
  color: #fff;
  margin-right: .1rem;
  padding: 2.3rem 0;
}

.block {
  background: #53d394;
  color: #fff;
  display: block;
  margin-bottom: .3rem;
}

/* =======================================================================
   Blog #2 Examples
   ======================================================================= */

.float-example {
  border: 1px dashed #bbb;
  color: #bbb;
  font-size: .9rem;
  font-weight: 700;
  padding: .7rem .3rem;
  text-align: center;
}

.example-content {
  background: #1ab6b6;
  border: none;
  color: #fff;
  margin: .8rem 0;
  padding: 1rem 0;
  min-width: 70%;
}

.float-side {
  background: #17a0a0;
  border: none;
  color: #fff;
  margin: .8rem 0;
  padding: 1rem 0;
  min-width: 27%;
}

/* =======================================================================
   Utilities
   ======================================================================= */

.margin-bottom { margin-bottom: .5rem; }
.margin-bottom-large { margin-bottom: 4rem;}
.margin-top { margin-top: .5rem; }
.margin-top-large { margin-top: 3rem; }
.margin { margin: 2rem; }
.padding { padding: .5rem; }

.remove-margin { margin: 0; }
.remove-margin-bottom { margin-bottom: 0; }
.remove-margin-left { margin-left: 0; }
.remove-margin-right { margin-right: 0; }
.remove-margin-top { margin-top: 0; }

.remove-padding { padding: 0; }
.remove-padding-top { padding-top: 0; }

.float-left { float: left; }
.float-right { float: right; }
.float-center { float: center; }

.hide { display: none; }
.show { display: block; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.normal-weight { font-weight: 400; }
.italic { font-style: italic; }

.valign-bottom { vertical-align: bottom; }
.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }

.block { display: block; }
.right { text-align: right; }

/* =======================================================================
   Code
   ======================================================================= */

code {
  background: #eee;
  border-radius: 3px;
  color: #555;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .9rem;
  padding: .2rem .4rem;
  white-space: nowrap;
}

/* =======================================================================
   Gists
   ======================================================================= */

.gist-file {
  border: 0 !important;
  box-shadow: 0 !important;
}

.gist-data { 
  background: #333 !important;
  border: 0 !important;
  border-radius: 3px !important;
}

.file-data {
  background: #333 !important;
  border-bottom: 0 !important;
  border-radius: 3px !important;
  box-shadow: 0 !important;
  padding: 1rem !important;
}

.line-data { 
  background: #333 !important;
  color: #fff !important;
  font-size: .9rem !important;
}

.line-data:before {
  color: #999 !important;
  content: "HTML/CSS" !important;
  display: block !important;
  font-family: "Open Sans", serif !important;
  font-size: .9rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  margin-bottom: .8rem !important;
  text-align: left !important;
  text-transform: uppercase !important;
}

.line-numbers { display: none !important; }
.gist-meta { display: none !important; }

.pl-ent { color: #d92659 !important; }

.pl-e { color: #2cff2f !important; }

.pl-pds { color: #fffe96 !important; }

.pl-s1 { color: #fffe96 !important; }

.pl-s3, .pl-sc { color: #44b8df !important; }

/* =======================================================================
   Clearfix
   ======================================================================= */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
