/*------ Button ------*/

.button {
  @include transition ($duration $timing);
  background: $button-primary;
  border-radius: $border-radius;
  color: $white;
  display: inline-block;
  font-weight: $regular;
  padding: .8rem 1.5rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $button-primary;
    color: $white;
  }
}

/*------ Centered button with fixed width ------*/

.button--center {
  display: block;
  font-weight: $regular;
  margin: 3rem auto 0;
  max-width: 180px;
  text-align: center;

  &:hover { background: lighten($button-primary, 7%); }
}
