// Code
code, pre {
  background: $light-gray;
  border-radius: $border-radius;
  color: $black;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8rem;
  padding: .2rem .3rem;
}

pre {
  margin: 0;
  margin: 1.5rem 0;
  padding: 3rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;

  code {
    background: none;
    border: 0;
    color: inherit;
    padding: 0;
  }
}
