/* ===========================================================
   Footer
   =========================================================== */

footer {
  background: darken($primary-light, 2%);
  border-top: 1px solid $border-light;
  color: $primary;
  text-align: center;
}

footer .container { padding: 1.5rem 0; }

.social-navigation { @include clean-list; }

.social-navigation__item {
  display: inline-block;
  margin-right: 1rem;

  &:last-of-type { margin-right: 0; }
}

.social-navigation__link {
  color: $primary;
  text-decoration: none;

  &:hover { color: $primary-dark; }
}
