/* ===========================================================
   Footer
   =========================================================== */

footer {
  background: darken($primary-light, 2%);
  font: $header-font;
  font-weight: $regular;
  text-align: center;
}

footer .container { padding: 3rem 0; }

.social-navigation { @include clean-list; }

.social-navigation__item {
  display: inline-block;
  margin-right: 1rem;
}

.social-navigation__icon {
  color: darken($primary-light, 25%);
  text-decoration: none;

  &:hover { color: $primary; }
}
