/* ===========================================================
   Footer
   =========================================================== */

footer {
  background: $white;
  border-top: 1px solid $border-light;
  text-align: center;
}

footer .container {
  padding: 1.5rem 0;
}

.social-list {
  @include clean-list;

  li {
    display: inline-block;
    margin-left: 1.5rem;

    &:first-of-type { margin-left: 0; }
  }

  a {
    color: $gray;
    text-decoration: none;

    &:hover { color: $blue; }
  }

  i { font-size: 2rem; }

}
