/*------ Forms ------*/

.form {
  border: none;
  border-radius: $border-radius;
  outline: none;
  padding: .8rem 1rem;
  width: 100%;
}

.form__textbox {
  @include transition (border $duration $timing);
  border: 1px solid $border-light;
  margin-bottom: 1.2rem;

  &:focus { border: 1px solid darken($border-light, 7%); }
}

.form__textbox--textarea {
  min-height: 200px;
  resize: none;
}

.form__button {
  @include transition (background $duration $timing);
  background: lighten($primary, 8%);
  color: $white;
  padding: .8rem 1rem;

  &:hover { background: $primary; }
}
