/*------ Header ------*/

header {
  background: $white;
  border-bottom: 1px solid $border-light;
}

header .container {
  max-width: 1600px;
  padding: 2.2rem 0;
  text-align: center;

  @media #{$medium} {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 95px;
    padding: 0;
  }
}

/*------ Navigation ------*/

.logo {
  color: $gray;
  display: block;
  font-weight: $bold;
  margin-bottom: 1.2rem;
  text-decoration: none;

  @media #{$medium} { margin: 0; }
}

nav {
  @media #{$medium} {
    -webkit-flex: auto;
    -webkit-justify-content: flex-end;
    display: -webkit-flex;
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }
}

.navigation-list { @include clean-list; }

.navigation-list__item {
  display: inline-block;
  margin-right: 1.5rem;

  &:last-of-type { margin-right: 0; }
}

.navigation-list__link {
  @include transition (color $duration $timing);
  color: $gray;
  text-decoration: none;

  &:hover, &.navigation-list__link--current
    { color: lighten($gray, 15%); }
}
