/* ===========================================================
   Header
   =========================================================== */

header {
  background: $white;
  border-bottom: 1px solid $border-light;

  a { color: $black; }
}

header .container {
  padding: 1.4rem 0;
}

.header__logo {
  background: $blue;
  color: $white;
  display: inline-block;
  font-size: .8rem;
  font-weight: $ultra-bold;
  letter-spacing: 1px;
  padding: .3rem .6rem .2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header-navigation {
  @include clean-list;
  float: right;
  line-height: 1.7;
}

.header-navigation__item {
  float: left;
  margin-left: 1.5rem;

  a {
    color: $light-blue;
    font-weight: $bold;
    text-decoration: none;

    &:hover { color: $blue; }
  }

  &:first-of-type { margin-left: 0; }
}
