/*------ Header ------*/

header { background: $primary; }

header .container {
  padding: 1.5rem 0;
  text-align: center;

  @media #{$medium} {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 80px;
    max-width: 1600px;
    padding: 0;
  }
}

/*------ Navigation ------*/

.logo {
  color: $white;
  display: block;
  font-size: 1.1rem;
  font-weight: $bold;
  margin-bottom: 1rem;
  text-decoration: none;

  @media #{$medium} { margin: 0; }
}

nav {
  display: block;

  @media #{$medium} {
    -webkit-flex: auto;
    -webkit-justify-content: flex-end;
    display: -webkit-flex;
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }
}

.navigation-list { @include clean-list; }

.navigation-list__item {
  display: inline-block;
  margin-right: 1.2rem;

  &:last-of-type { margin-right: 0; }
}

.navigation-list__link {
  @include transition (color $duration $timing);
  color: $white;
  text-decoration: none;

  &:hover, &.navigation-list__link--current
    { color: darken($white, 15%); }
}
