/* ===========================================================
   Hero
   =========================================================== */

.hero {
  background: $blue;
  color: $white;

  h1, h2, h3, h4 {
    color: $white;
  }
}

.hero .container {
  padding: 4rem 0;

  @media #{$medium} {
    padding: 6rem 0;
  }
}

.photo {
  display: none;

  @media #{$medium} {
    background: url("../images/portrait.jpg") center no-repeat;
    background-size: cover;
    border: 4px solid $white;
    border-radius: $circle;
    display: block;
    margin-right: 1.5rem;
    height: 125px;
    width: 125px;
  }
}
