/*------ Hero ------*/

.hero { text-align: center; }

/*------ Introduction Hero ------*/

.hero--introduction {
  background: $primary;
  color: $white;
  display: table;
  height: 100vh;
  width: 100%;

  @media #{$medium} { height: 500px; }
}

.hero--introduction .container {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}

.hero--introduction__photo {
  background-image: url(/assets/images/noah.jpeg);
  background-position: 50% 20%;
  background-size: cover;
  border-radius: 50%;
  height: 120px;
  margin: 0 auto 1.5rem;
  width: 120px;
}

/*------ Noah & Hannah Hero ------*/

.noah-hannah {
  background: url('/assets/images/noahhannah.jpg') no-repeat;
  background-position: 45% 40%;
  background-size: cover;
  height: 400px;
  width: 100%;

  @media #{$medium} {
    background-position: 50% 40%;
    height: 450px;
  }

  @media #{$large} {
    height: 550px;
  }
}
