/* ===========================================================
   Layout
   =========================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium} {
    font-size: 110%;
  }
}

body {
  background: $light-gray;
  color: lighten($black, 15%);
}

section {
  border-bottom: 1px solid $border-light;

  &:last-of-type {
    border-bottom: 0;
  }
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 0;
  width: 90%;
}

.container--align-middle {
  align-items: center;
  display: flex;
}

hr {
  border: 0;
  background: $border-light;
  height: 2px;
  margin: 3rem auto;
  width: 100px;
}

/* ===========================================================
   Images
   =========================================================== */

img {
  display: block;
  width: 100%;
}
