/*------ Post list ------*/

.post { @include clean-list; }

.post__item {
  margin-bottom: 1.5rem;

  &:last-child { margin-bottom: 0; }
}

.post__date {
  color: $gray;
  display: inline-block;
  margin-bottom: .2rem;
}

.post__link {
  display: block;
  font: $header-font;
  font-size: 1.1rem;
  margin-bottom: .2rem;
  text-decoration: none;
}

.post p {
  margin-bottom: 0;
  padding: 0;
}

/*------ Post menu ------*/

.post-menu {
  @extend %clearfix;
  @include clean-list;
  margin-top: 4rem;
}

.post-menu__item {
  float: left;
  text-align: center;
  width: 40%;

  &:only-of-type { width: 100%; }
}

.post-menu__item--next { float: right; }

.post-menu__link {
  @include transition ($duration $timing);
  background: $light-gray;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  color: $gray;
  display: block;
  font-weight: $bold;
  overflow: hidden;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: darken($light-gray, 1%);
    border: 1px solid darken($border-light, 10%);
    color: $black;
  }
}
