// Typography
h1, h2, h3, h4 {
  color: $blue-gray;
  font: $header-font;
  line-height: 1.45;
  margin: 0;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0 0 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 5px solid $orange;
  font-style: italic;
  margin-bottom: 1.5rem;
  padding-left: 1rem;

  a {
    font-style: normal;
  }
}

// Links
a {
  color: inherit;
  text-decoration: underline;
  transition: color ease-in-out .2s;

  &:hover {
    text-decoration: none;
  }
}
