/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4 {
  font: $header-font;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 { font-size: 1.5rem; }

h3 { font-size: 1.2rem; }

h4 {
  font-size: 1rem;
    text-transform: uppercase;
}

p {
  margin: 0 0 1.5rem;

  &:last-of-type { margin-bottom: 0; }
}

strong { font-weight: $bold; }
em { font-style: italic; }

/* ===========================================================
   Links
   =========================================================== */

a {
  color: inherit;
  text-decoration: underline;
}
