/*------ Typography ------*/

h1, h2, h3, h4 {
  color: $black;
  font: $header-font;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 { font-size: 1.9rem; }

h2 { font-size: 1.6rem; }

h3 { font-size: 1.3rem; }

h4 { font-size: 1.1rem; }

p {
  margin: 0 0 1.5rem;

  &:last-of-type { margin: 0; }
}

ul { margin: 0 0 1.5rem; }

strong { font-weight: $bold; }
em { font-style: italic; }

/*------ Links ------*/

a {
  color: inherit;
  text-decoration: underline;
}
