/*------ Work List ------*/

.work-list { @include clean-list; }

.work-list__item {
  @extend %clearfix;
  border-bottom: 1px solid $border-light;
  margin-bottom: 2rem;

  &:last-of-type {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }

  p { color: $gray; }
}

.work-list__column {
  margin-bottom: 2rem;
  width: 100%;

  @media #{$large} {
    float: left;
    height: 300px;
    margin-right: 4%;
    width: 48%;

    &:last-of-type { margin-right: 0; }
  }
}

.work-list__column--work-item {
  border: 1px solid $border-light;
  border-radius: $border-radius;
  height: 300px;

  &.citypak {
    background: url('/assets/images/work/citypak.png');
    background-position: 50% 0;
    background-size: cover;
  }

  &.greatpeaks {
    background: url('/assets/images/work/greatpeaks.png');
    background-position: 50% 0;
    background-size: cover;
  }
}

.work-list__title {
  font-size: 1.2rem;
  font-weight: $bold;
  text-decoration: none;
}

.work-list__link {
  display: inline-block;
  margin-top: 1.5rem;

  &:before {
    content: "\f08e";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: .3rem;
    text-decoration: none;
  }
}

/*------ Work List ------*/
