/*------ Work Grid List ------*/

.work {
  @include clean-list;
  @extend %clearfix;
}

.work__item {
  display: table;
  margin-bottom: 1.5rem;
  width: 100%;

  &:last-child { margin-bottom: 0; }

  @media #{$large} {
    float: left;
    margin-bottom: 0;
    margin-right: 4%;
    width: 48.14%;

    &:nth-of-type(2n+2) { margin-right: 0; }
  }
}

.work__link {
  border-radius: 3px;
  display: table-cell;
  height: 250px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  @media #{$large} { height: 300px; }
}

/*------ Work ------*/

.citypak {
  background: #f8f8f8;
  border: 1px solid #ddd;

  img { width: 140px; }
}

.greatpeaks {
  background: #333;

  img { width: 280px; }
}
