// Work List
.work-list {
  @include clean-list;
}

.work-list__item {
  background: $white;
  padding: 3rem 0;
  text-align: center;

  @media #{$large} {
    padding: 1rem 0;
  }

  .tag-list {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .button--primary {
    margin-top: 1.5rem;
  }
}

// Container
.work-list__container {
  margin: 0 auto;
  width: 90%;

  @media #{$large} {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 3rem 0;
  }
}

// Preview
.work-list__preview {
  border: 1px solid $border-light;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  max-width: 1000px;

  @media #{$large} {
    border: 1px solid $border-light;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    display: block;
    height: auto;
    margin: 0;
    margin-left: -5%;
    width: 62%;
  }
}

// Content
.work-list__content {
  @media #{$large} {
    margin-left: 3%;
    width: 40%;
  }
}

// Alternating
.work-list__item:nth-of-type(odd) {
  background: $light-gray;

  @media #{$large} {
    .work-list__container {
      flex-direction: row-reverse;
    }

    .work-list__preview {
      margin: 0;
      margin-left: 5%;
      margin-right: -10%;
    }
  }
}

// Work List Title
.work-list__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  @media #{$large} {
    font-size: 1.75rem;
  }

  @media #{$large} {
    font-size: 2rem;
    line-height: 1.3;
  }
}
