<ul class="project-list">
  <li class="project-list__item">
    <a class="project-list__card project-list__card--positioning" href="{{ site.url }}/positioning/" target="_blank">
      <div>
        <i class="fa fa-clone project-list__icon"></i>
        <h4 class="project-list__title">Positioning</h4>
        <p class="project-list__summary">An introduction to positioning.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__card project-list__card--holiday" href="{{ site.url }}/holiday/" target="_blank">
      <div>
        <i class="fa fa-map-o project-list__icon"></i>
        <h4 class="project-list__title">Holiday</h4>
        <p class="project-list__summary">Second iteration of a travel website.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__card project-list__card--favorites" href="{{ site.url }}/media-queries/" target="_blank">
      <div>
        <i class="fa fa-star project-list__icon"></i>
        <h4 class="project-list__title">My Favorites</h4>
        <p class="project-list__summary">A responsive grid with basic jQuery.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__card project-list__card--settings" href="{{ site.url }}/settings-page/" target="_blank">
      <div>
        <i class="fa fa-wrench project-list__icon"></i>
        <h4 class="project-list__title">User Settings</h4>
        <p class="project-list__summary">Settings page styled using material design.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__card project-list__card--travel" href="{{ site.url }}/travel/" target="_blank">
      <div>
        <i class="fa fa-plane project-list__icon"></i>
        <h4 class="project-list__title">Zzyzzx</h4>
        <p class="project-list__summary">First iteration of a travel website.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__card project-list__card--lengths" href="{{ site.url }}/lengths/" target="_blank">
      <div>
        <i class="fa fa fa-arrows-h project-list__icon"></i>
        <h4 class="project-list__title">Lengths</h4>
        <p class="project-list__summary">An introduction to length units.</p>
      </div>
    </a>
  </li>
</ul>
