<ul class="project-list animatedParent animateOnce" data-sequence="300">
  <li class="project-list__item--typography animated fadeInDownShort" data-id="1">
    <a class="project-list__link" href="{{ site.url }}/typography/" target="_blank">
      <h3>Typography</h3>
    </a>
  </li>
  <li class="project-list__item--animations animated fadeInDownShort" data-id="2">
    <a class="project-list__link" href="{{ site.url }}/animations/" target="_blank">
      <h3>Animations</h3>
    </a>
  </li>
  <li class="project-list__item--positioning animated fadeInDownShort" data-id="3">
    <a class="project-list__link" href="{{ site.url }}/positioning/" target="_blank">
      <h3>Positioning</h3>
    </a>
  </li>
  <li class="project-list__item--favorites animated fadeInDownShort" data-id="4">
    <a class="project-list__link" href="{{ site.url }}/media-queries/" target="_blank">
      <h3>My Favorites</h3>
    </a>
  </li>
  <li class="project-list__item--settings animated fadeInDownShort" data-id="5">
    <a class="project-list__link" href="{{ site.url }}/settings-page/" target="_blank">
      <h3>User Settings</h3>
    </a>
  </li>
  <li class="project-list__item--travel animated fadeInDownShort" data-id="6">
    <a class="project-list__link" href="{{ site.url }}/travel/" target="_blank">
      <h3>Zzyzzx</h3>
    </a>
  </li>
  <li class="project-list__item--lengths animated fadeInDownShort" data-id="7">
    <a class="project-list__link" href="{{ site.url }}/lengths/" target="_blank">
      <h3>Length Units</h3>
    </a>
  </li>
</ul>

<script type="text/javascript" src="../../assets/js/css3-animate-it.js" async></script>
