<ul class="project-list">
  <li class="project-list__item">
    <a href="{{ site.url }}/typography/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-font"></i>
        </div>
        <h4>Typography</h4>
        <p>Typeface examples with Google fonts.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/animations/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-photo"></i>
        </div>
        <h4>Animations</h4>
        <p>An introduction to CSS3 animations.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/positioning/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-clone"></i>
        </div>
        <h4>Positioning</h4>
        <p>An introduction to positioning.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/holiday/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-map"></i>
        </div>
        <h4>Holiday</h4>
        <p>My submission project to 8th Light.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/media-queries/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-star"></i>
        </div>
        <h4>My Favorites</h4>
        <p>A responsive grid with basic jQuery.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/settings-page/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-wrench"></i>
        </div>
        <h4>User Settings</h4>
        <p>Material designed user settings page.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/travel/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-plane"></i>
        </div>
        <h4>Travel</h4>
        <p>The first iteration of my travel website.</p>
      </div>
    </a>
  </li>
  <li class="project-list__item">
    <a href="{{ site.url }}/lengths/" target="_blank">
      <div>
        <div class="circle">
          <i class="fa fa-arrows-h"></i>
        </div>
        <h4>Lengths</h4>
        <p>An introduction to basic length units.</p>
      </div>
    </a>
  </li>
</ul>
