/* =======================================================================
   Style Guide
   ======================================================================= */

.color-primary { }
.color-accent { }
.color-background { }
.color-shadow { }

/* =======================================================================
   Basic Page Styles
   ======================================================================= */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; }

body {
  background: #fcfcfc;
  color: #eee;
  font: 400 100%/1.5 "Muli", serif;
  margin: 2rem 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 94%;
}

.header {
  color: #000;
  line-height: 40px;
  margin-bottom: 2rem;
}

.logo {
  background: #4c5e67;
  color: #fff;
  float: left;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

nav { float: right; }

nav ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-right: 1.1rem;
}

nav li:last-child { padding-right: 0; }

nav a { 
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: #4c5e67;
  text-decoration: none;
}

.top-deals { 
  color: #4c5e67;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 1rem .5rem 1rem;
}

/* =======================================================================
   Typography
   ======================================================================= */

h1, h2, h3, h4, h5 {
  color: #000;
  font-weight: 700;
  margin: 0;
}

h1 { 
  font-size: 1.7rem;
  letter-spacing: 1px;
}

p {
  display: block;
  margin: 0 0 1.2rem 0;
}

/* =======================================================================
   Grid by Adam Kaplan (adamkaplan.me)
   ======================================================================= */

.table {
  background: #f1f3f4;
  margin-bottom: 1rem;
  padding: 1rem;
}

.row { }

.row:last-child { margin-bottom: 0; }

.column {
  float: left;
  margin: 0;
  padding: 1rem;
}

.column div { }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }


.box {
  background: #fff;
  box-shadow: 1px 1px 2px #ddd;
  margin: 1rem auto;
}

.content { padding: 1rem; }

/* =======================================================================
   
   ======================================================================= */

.deal {
  background: #eee;
  border: 2px dashed #bbb;
  color: #bbb;
  height: 125px;
  line-height: 125px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.banner {
  font-size: 1.2rem;
  font-weight: 700;
  padding: .3rem 0 0 .5rem;
  text-shadow: 1px 1px 1px #000;
}

/* =======================================================================
   Clearfix
   ======================================================================= */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
