/* ===========================================================
   Post List
   =========================================================== */

.post-list {
  @include clean-list;
}

.post-list__item {
  border-bottom: 1px solid $border-light;
  transition: background ease-in-out .2s;

  &:hover { background: darken($light-gray, 3%); }

  &:last-of-type { border-bottom: 0; }

  a {
    color: $black;
    display: block;
    text-decoration: none;
  }
}

.post-list__title {
  color: $black;
  margin: 0;
  text-align: center;
}

.post-list__date {
  color: $light-blue;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* ===========================================================
   Article
   =========================================================== */

article {

  ol, ul {
    margin: 0 0 1.5rem 0;
    padding-left: 3rem;
  }

  hr {
    margin: 1.5rem auto;
  }
}

/* ===========================================================
   Post Header
   =========================================================== */

.post-header {
  text-align: center;
}

.post-header__title {
  font-size: 1.5rem;
  font-weight: $bold;
  margin-bottom: .5rem;

  @media #{$medium} {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

/* ===========================================================
   Post Footer
   =========================================================== */

.post-footer {
  @extend %clearfix;
  @include clean-list;
  font-size: .7rem;
  margin-top: 3rem;
}

.post-footer__link--previous {
  float: left;

  &:before {
    content: "\f104";
    font-family: "FontAwesome";
    margin-right: .2rem;
  }
}

.post-footer__link--next {
  float: right;

  &:after {
    content: "\f105";
    font-family: "FontAwesome";
    margin-left: .2rem;
  }
}

.post-footer__button {
  display: none;

  @media #{$medium} {
    display: inline;
  }
}

.post-footer__button--mobile {
  display: inline;

  @media #{$medium} {
    display: none;
  }
}

/* ===========================================================
   Post Images
   =========================================================== */

.blog__image {
  border: 1px solid $border-light;
  border-radius: $border-radius;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.blog__image--small {
  margin: 0 auto;
  max-width: 480px;
}

.blog__image--list {
  display: inline-block;
  margin: 0 auto;
  padding: 1.5rem;
  width: 31%;
}
