/* ===========================================================
   Projects
   =========================================================== */

.project-list {
  @extend %clearfix;
  @include clean-list;
}

.project-list__item {
  background: $white;
  background: linear-gradient($white 90%, lighten($light-gray, 3%) 100%);
  border: 1px solid $border-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 1.25rem;
  text-align: center;
  transition: transform $ease;

  &:hover {
    transform: translateY(3px);
  }

  @media #{$medium} {
    float: left;
    margin-left: 3%;
    width: 48.5%;

    &:nth-of-type(odd) {
      margin-left: 0;
    }
  }

  @media #{$large} {
    width: 31%;

    &:nth-of-type(odd) {
      margin-left: 3%;
    }

    &:nth-of-type(3n+1) {
       margin-left: 0;
    }
  }
}

.project-list__link {
  align-items: center;
  color: lighten($black, 15%);
  display: flex;
  height: 200px;
  padding: 0 1.25rem;
  justify-content: center;
  text-decoration: none;

  @media #{$medium} {
    height: 270px;
  }
}

.project-list__icon {
  align-items: center;
  background: $green;
  border-radius: $circle;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto 1rem;
  width: 50px;

  i {
    color: $white;
    font-size: 1.1rem;
  }
}
