/* ===========================================================
   Projects
   =========================================================== */

.project-list {
  @include clean-list;
}

.project-list__item {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: border ease-in-out .2s;


  @media #{$medium} {
    float: left;
    margin-left: 3%;
    width: 48.5%;

    &:nth-of-type(odd) { margin-left: 0; }
  }

  @media #{$large} {
    width: 31%;

    &:nth-of-type(odd) { margin-left: 3%; }
    &:nth-of-type(3n+1) { margin-left: 0; }
  }

  a {
    align-items: center;
    color: $black;
    display: flex;
    height: 240px;
    padding: 0 2.5rem;
    justify-content: center;
    text-decoration: none;

    @media #{$medium} {
      height: 300px;
    }

    &:hover .project-list__circle  { transform: rotate(360deg); }
  }

  i {
    color: $white;
    font-size: 1.1rem;
  }

  h3 { font-size: 1.1rem; }

  &:hover { border: 1px solid $border-dark; }
}

.project-list__circle {
  align-items: center;
  background: $light-blue;
  border-radius: $circle;
  display: flex;
  height: 55px;
  justify-content: center;
  margin: 0 auto 1rem;
  transition: transform .7s ease-in-out;
  width: 55px;
}
