/*------ Work List ------*/

.work-list { @include clean-list; }

.work-list__item {
  @extend %clearfix;
  margin-bottom: 4rem;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.work-list__column {
  width: 100%;

  &:first-of-type { margin-bottom: 2rem; }

  @media #{$large} {
    float: left;
    height: 300px;
    margin-right: 4%;
    width: 48%;

    &:first-of-type { margin-bottom: 0; }
    &:last-of-type { margin-right: 0; }
  }
}

.work-list__column--work-item {
  border: 1px solid $border-light;
  border-radius: $border-radius;
  height: 300px;

  &.citypak {
    background: url('/assets/images/work/citypak.jpg');
    background-position: 50% 0;
    background-size: cover;
  }

  &.greatpeaks {
    background: url('/assets/images/work/greatpeaks.jpg');
    background-position: 50% 0;
    background-size: cover;
  }
}

.work-list__title {
  @include transition (color $duration $timing);
  color: $black;
  font-size: 1.5rem;
  font-weight: $bold;
  text-decoration: none;

  &:after {
    content: "\f08e";
    font-family: "FontAwesome";
    font-size: .7rem;
    font-weight: $regular;
    margin-left: .4rem;
  }
}
