/* =======================================================================
   Style Guide
   ======================================================================= */

.color-primary { }
.color-accent { }
.color-background { }
.color-shadow { }

/* =======================================================================
   Basic Page Styles
   ======================================================================= */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 400 112%/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #ececec;
  color: #000;
  margin: 0;
  padding: 0;
}

header { }

section { }

li, ul, ol {
  margin: 0;
  padding: 0;
}

a { color: #83ffdc; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* =======================================================================
   Typography
   ======================================================================= */

h1, h2, h3, h4, h5 { margin: 0; }

h1 { font-size: 1.6rem; }

p {
  display: block;
  margin: 0 0 1.2rem 0;
}

p:last-child { margin-bottom: 0;}

strong { }

q { }

blockquote { }

/* =======================================================================
   Page Elements
   ======================================================================= */

.title {
  font-size: 4rem;
  text-align: center;
}

/* =======================================================================
   Grid by Adam Kaplan (adamkaplan.me)
   ======================================================================= */


/* =======================================================================
   Clearfix
   ======================================================================= */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
