/* =======================================================================
   Style Guide
   ======================================================================= */

.color-primary { }
.color-accent { }
.color-background { }
.color-shadow { }

/* =======================================================================
   Basic Page Styles
   ======================================================================= */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 400 90%/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #bbb;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;  
  line-height: 40px;
  margin-bottom: 2rem;  
  text-transform: uppercase;
  width: 100%;
}

a {
  color: #86beec;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.home {
  background: #3c3c3c;
  color: #999;
  font-weight: 700; 
}

/* =======================================================================
   Typography
   ======================================================================= */

h1, h2, h3, h4, h5 {
  color: #000;
  margin: 0;
}

p {
  display: block;
  margin: 0 0 1.2rem 0;
}

strong { font-weight: 700; }

.header { 
  float: left;
  font-size: 1rem;
  padding: 0 1rem;
}

.title { 
  color: #bababa;  
  font-weight: 700;
  line-height: 60px;  
}

nav {
  float: right;
  padding: 0 1rem;  
}

nav ul { 
  list-style: none;
  margin: 0;
  padding: 0; 
}

nav li {  
  display: inline-block;  
  margin: 0;
  padding: 0;
  text-align: center;  
}

nav a { 
  display: inline-block; 
  line-height: 60px;
  width: 90px;
}

nav a:hover { background: #3c3c3c; }

/* =======================================================================
   Project
   ======================================================================= */

.table {
  border-radius: 3px;  
  color: #fff;  
  font-weight: 700;  
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #555;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.row {
  border-radius: 3px;
  background: #e4eaf0;  
  padding: 1rem; 
}

.row:last-child { margin-bottom: 0; }

.column {
  border: 1px solid #c1def5;
  border-radius: 3px;
  background: #cfe5f8;
  float: left;
  padding: 1rem;
  margin: 0;
}

.column div {
  border-radius: 3px;
  background: #86beec;  
  padding: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }


.box {
  background: #fff;
  box-shadow: 1px 1px 2px #ddd;
  margin: 1rem auto;
}

.content { padding: 1rem; }

/* =======================================================================
   Clearfix
   ======================================================================= */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
