<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Noah Rogers</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="page-container">
      <div class="wrapper">
        <div class="header">
          <header>
            <div class="cf">
              <div class="logo">
                <a href="/">Noah Rogers</a>
              </div>
              <nav>
                <ul class="nav cf">
                  <li><a href="/about/">About</a></li>
                  <li><a href="/blog/">Blog</a></li>
                  <li class="last"><a href="/projects/">Projects</a></li>
                </ul>
              </nav>
            </div>
          </header>
        </div>

        <div class="content">
        <article>
          <h1>HTML Ipsum Presents</h1>

          <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.

          <q>Cras in mi at felis aliquet congue.</q>

          Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

          <h2>Header Level 2</h2>

          <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
          </ol>

          <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</blockquote>

          <h3>Header Level 3</h3>

          <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
          </ul>

          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies <code>h1 { display: block; }</code> mi vitae est. Mauris placerat eleifend leo.</p>

          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

          </article>
        </div>

        <div class="footer cf">
          <a href="#">Top</a>
         </div>

      </div>
    </div>

  </body>
</html>