<footer class="{% if page.path == "index.html" %} hide {% endif %}">
  <div class="container">
    <ul class="social-navigation">
      <li class="social-navigation__item">
        <a class="social-navigation__link" href="http://www.github.com/treydor" target="_blank">GitHub</a>
      </li>
      <li class="social-navigation__item">
        <a class="social-navigation__link" href="http://www.instagram.com/noaharogers" target="_blank">Instagram</a>
      </li>
      <li class="social-navigation__item">
        <a class="social-navigation__link" href="http://www.twitter.com/noaharogers" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
</footer>
