<footer>
  <div class="container">
    <ul class="social-list {% if page.path == "index.html" %} hide {% endif %}">
      <li>
        <a href="https://github.com/noaharogers" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://twitter.com/noaharogers" target="_blank">
          Twitter
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/noaharogers/" target="_blank">
          Instagram
        </a>
      </li>
    </ul>
  </div>
</footer>
