<header>
  <div class="container">
    <a class="{% if page.path == "index.html" %} hide {% endif %} logo" href="/">Noah Rogers</a>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link{% if page.path == "blog/index.html" %} navigation__link--current{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link{% if page.path == "projects/index.html" %} navigation__link--current{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a>
      </li>
    </ul>
  </div>
</header>
