
<ul class="project-list">
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/media-queries/" target="_blank">
      <i class="fa fa-star"></i>
      <h4 class="project-list__title">My Favorites</h4>
      <p class="project-list__description">A responsive grid that displays some of my favorites movies, books and television shows.</p>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/settings-page/" target="_blank">
      <i class="fa fa-cogs"></i>
      <h4 class="project-list__title">User Settings</h4>
      <p class="project-list__description">A user settings page that is created using Google's material design guidelines.</p>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/travel/" target="_blank">
      <i class="fa fa-plane"></i>
      <h4 class="project-list__title">Travel Website</h4>
      <p class="project-list__description">Created using skills from previous projects, this website uses a clean visual style and a responsive design.</p>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/lengths/" target="_blank">
      <i class="fa fa-arrows-h"></i>
      <h4 class="project-list__title">CSS Lengths</h4>
      <p class="project-list__description">An introduction to the most common CSS length units.</p>
    </a>
  </li>
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/positioning/" target="_blank">
      <i class="fa fa-clone"></i>
      <h4 class="project-list__title">Positioning</h4>
      <p class="project-list__description">An overview of the most common CSS positioning properties. This project is best viewed on larger screens.</p>
    </a>
  </li>
  <!-- <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/project-lists/floats/">Floats &amp; Clearfixes</a>
    <p class="project-list__description">An introduction to floats, their pitfalls, and how to use clearfixes.</p>
  </li>
  <li class="project-list__item">
    <a class="project-list__link" href="{{ site.url }}/project-lists/elements/">Basic Elements</a>
    <p class="project-list__description">A first look at the most basic CSS elements.</p>
  </li> -->
</ul>
