<ul class="work-list">
  <li class="work-list__item">
    <div class="work-list__column">
      <a class="work-list__title" href="http://www.citypak.org" target="_blank">The Citypak Project</a>
      <p>Design &amp; Development</p>
      <p>The Citypak Project is a non-profit organization out of Chicago that creates and distributes a uniquely designed backpack to meet the needs of the homeless.</p>
      <a class="work-list__link" href="http://www.citypak.org" target="_blank">Visit Site</a>
    </div>
    <div class="work-list__column work-list__column--work-item citypak">

    </div>
  </li>
  <li class="work-list__item">
    <div class="work-list__column">
      <a class="work-list__title" href="http://www.greatpeaksrealty.com" target="_blank">Great Peaks Realty</a>
      <p>Design &amp; Development</p>
      <p>Great Peaks Realty is a real estate website for potential customers in South Dakota. Great Peaks specializes in home, land and commercial listings.</p>
      <a class="work-list__link" href="http://www.greatpeaksrealty.com" target="_blank">Visit Site</a>
    </div>
    <div class="work-list__column work-list__column--work-item greatpeaks">

    </div>
  </li>
</ul>
