/* ==========================================================================
   Page Styles
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 400 108%/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  color: #222;
  margin: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 6rem 0;
  text-align: center;
  width: 100%;
}

ul { 
  margin: 0;
  padding: .3rem 1rem;
}

li { 
  margin: 0;
  padding: 0;
}

section { padding: 1rem 0; }

.intro { margin: 3rem 0 2rem 0; }

.special { 
  background: #339943;
  color: #fff;
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: 6rem 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.container {
  margin: 0 auto;
  width: 92%;
}

.section-list { 
  list-style: none;
  margin: 0;  
  padding: 0;
}

.section-list h2 { margin: 0 0 .5rem 0; }

.section-list p { margin: 0 0 1.2rem 0; }

.section-list li { padding: 1.5rem 0;}

.summary { margin: 3rem 0 .7rem 0; }

.copyright {
  color: #000;
  font-size: .6rem;
  margin: 1rem auto;
  text-align: center;
  width: 80%;
}

.footer-nav { 
  margin: 5rem 0;
  text-align: center;
}

.top, .back { 
  background: #339943;
  border-bottom: 3px solid #2b8038;
  border-radius: 3px;
  color: #e5f6e8;
  display: inline-block;
  font-size: .9rem;
  margin: .3rem 0;
  padding: .3rem .5rem;  
}

.top:hover, .back:hover { 
  background: #2f8c3d;
  color: #fff;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3 {
  color: #333;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0 0 .5rem 0;
  padding: 0;
  line-height: 1.2rem;
}

h1 { font-size: 2rem; }

h2 { 
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

h3 { font-size: 1.1rem; }

p { 
  display: block;
  margin: 1rem 0;
}

strong { font-weight: 700; }

q:before {
  content: "\201C";
  font-family: "Georgia", serif;
}

q:after {
  content: "\201D";
  font-family: "Georgia", serif;
}

code {
  background: #ececec;
  border-radius: 3px;
  color: #333;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  padding: .2rem .4rem;
  white-space: nowrap;
}

.project-title {
  display: inline-block;
  font: 700 2.4rem "Raleway", sans-serif;
  margin-bottom: 2rem;
}

.title { 
  font-size: 1.4rem;
  font-weight: 700;
  margin: .3rem 0 .7rem 0;
  text-align: center;
}

.table p { margin: 0 0 1rem 0; }

.special-title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;  
  text-align: center;}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: #000;  
  text-decoration: underline;
}

/* ==========================================================================
   Grid by Adam Kaplan (http://adamkaplan.me/grid/)
   ========================================================================== */

.table {
  background: #eee;
  border-radius: 6px;
  margin: 1rem 1rem 2rem 1rem;
  padding: 1.5rem;
}

.row { margin-bottom: 2.5rem; }

.row:last-child { margin-bottom: 0; }

.column {  
  float: left;
  margin: 0;
  padding: 0 2rem;
}

.column.full { width: 100%; }
.column.half { width: 50%; }

/* ==========================================================================
   Project Examples
   ========================================================================== */

.yoshi {
  background: url('img/yoshi.png');
  height: 71px;
  margin: 20px;
  position: fixed;
  width: 55px;
}

.mario {
  background: url('img/mario.png');
  height: 258px;
  margin: 0 auto;
  width: 300px;
}

.mario-alt {
  background: url('img/mario2.png');
  height: 258px;  
  width: 300px;  
}

.mario-relative {
  background: url('img/mario2.png');
  height: 258px;
  position: relative;
  width: 300px;  
  right: 60px;
}

.bowser {
  background: url('img/bowser.png');
  height: 258px;  
  width: 300px;
  margin: 0 auto;
}

.bowser-absolute {
  background: url('img/bowser.png');
  height: 258px;
  position: absolute;
  width: 300px;
  left: 125px;
}

.luigi {
  background: url('img/luigi.png');
  height: 258px;
  position: absolute;
  width: 300px;
}

.star2 {
  background: url('img/star2.png');
  height: 258px;
  position: relative;
  width: 300px;
}

.toad {
  background: url('img/toad2.png');
  display: block;
  height: 158px;
  margin: 0 auto 40px auto;
  width: 329px;
}

/* ==========================================================================
   Utilities
   ========================================================================== */

.center { text-align: center; }

.add-border { 
  background: #e3e3e3;
  border: 3px dashed #bbb;
}

.remove-background { background: none; }

.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }

.margin-bottom { margin-bottom: 2rem; }
.remove-margin { margin: 0; }
.top-margin { margin-top: 2rem; }
.remove-margin-bottom { margin-bottom: 0; }
.remove-padding { padding: 0; }
.remove-padding-left { padding-left: 0; }
.remove-padding-right { padding-right: 0; }

/* ==========================================================================
  Clearfix
  ========================================================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}