/* ==========================================================================
   Basic Page Styles
   ========================================================================== */

html {
  font: 400 110%/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  color: #222;
  margin: 0;
}

header {
  background: #333;
  margin-bottom: 150px;
  padding: 200px 0;
  width: 100%;
}

footer {
  color: #000;
  font-size: .9rem;
  margin: 0;
  margin-top: 100px;
  padding: 2em 0;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 4em 0;
  padding: 0;
}

footer li {
  display: inline-block;
  text-align: center;
  width: 130px;
}

footer p { font-size: .6em; }


/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  color: #333;
  display: block;
  font-weight: 700;
  line-height: 1.2em;
}

h1 { font-size: 2.4em; }

h2 { font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-bottom: .3em;
}

p {
  display: block;
  margin-bottom: 1.5em;
}

strong { font-weight: 700; }

q:before {
  content: "\201C";
  font-family: "Georgia", serif;
}

q:after {
  content: "\201D";
  font-family: "Georgia", serif;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: #cd3d47;
  text-decoration: none;
}

a:hover { color: #e28e94; }

/* ==========================================================================
   Page Layout
   ========================================================================== */

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

section {
  margin-bottom: 200px;
  width: 100%;
}

.special {
  background: #cd3d47;
  color: #fff;
  font-size: 1.3em;
  padding: 4em 0;
}

.row {
  background: #eee;
  border-radius: 6px;
  margin-bottom: 2em;
  padding: 1.5em;
}

.column {
  border: 4px dashed #777;
  float: left;
  padding: 0 .3em;
  width: 45%
}

.column:first-child { margin-right: 5%; }

.column-heading {
  font-size: 2em;
  margin: .4em 0 .2em 0;
  text-align: center;
}

.column-summary {
  margin: 0;
  text-align: center;
}

.column p {
  padding: 0;
  margin: 1em 0;
}

.box-title {
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.box p { font-size: 1.1em; }

/* ==========================================================================
   Page Elements
   ========================================================================== */

.title {
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 4em;
  font-weight: 700;
  padding: .1em .5em;
  text-align: center;
  text-shadow: 1px 1px 3px #333;
  text-transform: uppercase;
}

.special-title {
  color: #fff;
  margin-bottom: 1em;
  text-align: center;
  text-shadow: 1px 1px 3px #333;
}

.title-summary {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 2em;
}

.section-list {
  list-style: none;
  margin-bottom: 2em;
  padding: 0;
}

.section-list li { margin-bottom: 4em; }

.section-list li:last-child { margin-right: 0; }

.section-list p {
  margin-top: .6em;
  padding: 0;
}

.example-heading {
  margin: 0;
  margin-bottom: .3em;
  padding: 0;
}

.references {
  float: left;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.references li { padding: .1em 0; }

.references h3 {
  font-size: 1.8em;
  padding: .2em 0;
}

.references a {
  color: #333;
  text-decoration: underline;
}

.toad {
  background: url('toad2.png');
  display: block;
  height: 158px;
  margin: 0 auto 40px auto;
  width: 329px;
}

/* ==========================================================================
   Project Examples
   ========================================================================== */

.star {
  background: url('star.png');
  height: 81px;
  margin: 25px;
  position: fixed;
  width: 82px;
  z-index: 100;
}

.mario {
  background: url('mario.png');
  height: 258px;
  margin: 0 auto;
  width: 300px;
}

.bowser {
  background: url('bowser.png');
  height: 258px;
  margin: 0 auto;
  width: 300px;
}

.mario2 {
  background: url('mario2.png');
  height: 258px;
  margin: 0 auto;
  position: static;
  width: 300px;
}

.bowser-relative {
  background: url('bowser.png');
  bottom: 50px;
  height: 258px;
  left: 100px;
  position: relative;
  width: 300px;
}

.mario2-relative {
  background: url('mario2.png');
  bottom: -25px;
  height: 258px;
  left: -40px;
  position: relative;
  width: 300px;
}

.bowser-absolute {
  background: url('bowser.png');
  height: 258px;
  left: 130px;
  position: absolute;
  width: 300px;
}

.luigi {
  background: url('luigi.png');
  height: 258px;
  position: absolute;
  width: 300px;
}

.star2 {
  background: url('star2.png');
  height: 258px;
  position: relative;
  width: 300px;
}

/* ==========================================================================
   Utilities
   ========================================================================== */

.center { text-align: center; }

.remove-border { border: none; }

.z-index-1 { z-index: 1; }

.z-index-2 { z-index: 2; }

/* ==========================================================================
  Clearfix
  ========================================================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}