{% if page.previous or page.next %}
<ul class="post-footer">
  {% if page.previous %}
    <li class="post-footer__item">
      <a class="post-footer__link post-footer__link--previous" href="{{ page.previous.url }}">
        <span class="post-footer__button">{{ page.previous.title }}</span>
        <span class="post-footer__button--mobile">Previous</span>
      </a>
    </li>
  {% endif %}

  {% if page.next %}
    <li class="post-footer__item">
      <a class="post-footer__link post-footer__link--next" href="{{ page.next.url }}">
        <span class="post-footer__button">{{ page.next.title }}</span>
        <span class="post-footer__button--mobile">Next</span>
      </a>
    </li>
  {% endif %}
</ul>
{% endif %}
