// Font Weights
$regular:     400;
$bold:        700;

// Header Font
$header-font: $bold 18px/1.6 "Montserrat", sans-serif;

// Body Font
$body-font: $regular 18px/1.6 "Muli", sans-serif;

// Colors
$black:           #2b2b2b;
$gray:            #7c7c7c;
$light-gray:      #f3f3f3;
$orange:          #f45c43;
$red:             #eb3349;
$white:           #fff;

$gradient-red:    linear-gradient(45deg, $orange, $red);

// Border Color
$border-light:    #e9e9e9;

// Border Radius
$border-radius:   4px;
$circle:          50%;

// Transitions
$ease: ease-in-out .3s;

// Box Shadow
$box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);

// Large Screens
$large: "(min-width: 900px)";

// Medium Screens
$medium: "(min-width: 700px)";
