// Font Weights
$regular: 400;
$bold: 700;

// Header Font
$header-font: $bold 100%/1.3 "futura-pt", sans-serif;

// Body Font
$body-font: $regular 110%/1.5 "proxima-nova", sans-serif;

// Colors
$gray:            #777;
$primary:         #40af97;
$light-gray:      #f9f9f9;
$black:           #333;
$white:           #fff;

// Border Color
$border-light:    #eee;

// Border Radius
$border-radius: 3px;
$circle: 50%;

// Medium Screens
$medium: "(min-width: 640px)";

// Medium Screens
$large: "(min-width: 1024px)";
