// Font Weights
$regular: 400;
$bold: 700;

// Body Font
$body-font: $regular 110%/1.5 "Open Sans", sans-serif;

// Header Font
$header-font: $bold 110%/1.25 "Open Sans", sans-serif;

// Colors
$primary: #4b5b6d;
$black: #222;
$gray: #6a6a6a;
$light-gray: #fafafa;
$white: #fff;

// Border Color
$border-light: #eaeaea;

// Border Radius
$border-radius: 4px;

// Medium Screens
$medium: "(min-width: 600px)";

// Medium Screens
$large: "(min-width: 1000px)";

// Animation Duration and Timing
$duration: .2s;
$timing: ease-in-out;
