<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <main>

    {% include header.html %}

        <article>

          <div class="hero hero--blue">
            <div class="container container--small">
              {% include posts/post-header.html %}
            </div>
          </div>

          <div class="container container--small">
            {{ content }}

            {% include posts/post-footer.html %}
          </div>

        </article>
      </div>

    </main>
  </body>
</html>
